.about-blocks {
    .content-block {
        min-height: 350px;
        p {
            font-family: 'Arial';
        }
        h2 {
            margin-bottom: 20px;
        }
        .btn {
            margin-top: 20px;
        }
    }
}