.breadcrumbs {
    padding: 16px 0 11px;
    a,
    span {
        text-transform: uppercase;
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
    a {
        &:after {
            font-family: 'FontAwesome';
            content: "\f105";
            display: inline-block;
            vertical-align: middle;
            margin-left: 4px;
            margin-right: 0px;
            position: relative;
            top: -1px;
        }
    }
}