.breadcrumbs {
    padding: 16px 0 14px;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a,
    span {
        display: inline-block;
        text-transform: uppercase;
    }
    [property='itemListElement'] {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-right: 20px;
        margin-right: 10px;
        line-height: 1;
        span {
            display: block;
        }
        &:after {
            font-family: 'FontAwesome';
            line-height: 10px;
            content: "\f105";
            display: block;
            position: absolute;
            right: 0;
            height: 10px;
            top: 1px;
            @media only screen and (max-width : 1200px) {
                top: 2px;
            }
        }
        &:last-child {
            &:after {
                display: none;
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
}

.ar {
    .breadcrumbs {
        [property='itemListElement'] {
            padding-right: 0px;
            padding-left: 20px;
            margin-right: 0px;
            margin-left: 10px;
            &:after {
                font-family: 'FontAwesome';
                right: auto;
                left: 0;
                content: "\f104";
            }
            &:last-child {
                &:after {
                    margin-left: 0;
                    padding-left: 0;
                }
            }
        }
    }                                                                                                                                                                                                                                                                                                      
}