.breadcrumbs {
    padding: 16px 0 11px;
    a,
    span {
        text-transform: uppercase;
        span {
            display: block;
        }
    }
    a {
        position: relative;
        padding-right: 20px;
        margin-right: 10px;
        &:after {
            font-family: 'FontAwesome';
            line-height: 10px;
            content: "\f105";
            display: block;
            top: -1px;
            position: absolute;
            right: 0;
            height: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}