.button {
    background-color: peru;
    width: 180px;
    height: 60px;
    line-height: 60px;
    
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    
    display: inline-block;
    border: none;
    cursor: pointer;
    @media (max-width: 1500px) {
        width: 160px;
        height: 50px;
        line-height: 50px;
    }
}





.owl-carousel {
    .owl-dots {
        text-align: center;
        display: block;
        margin-top: 35px;

        .owl-dot {
            width: 8px;
            height: 8px;
            background-color: #8B8B8B;
            border-radius: 80%;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            display: inline-block;
            margin: 0 5px;

            &.active {
                background-color: $red;
            }
        }
    }


    .owl-nav {
        font: normal normal normal 25px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;

        .owl-prev,
        .owl-next {
            font-size: 25px;
            color: #8b8b8b;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;

            &:hover {
                color: #0667A0;
            }

            &.disabled {
                opacity: 0.5;
            }
        }

        .owl-prev:before {
            content: '\f137';
        }

        .owl-next:before {
            content: '\f138';
        }
    }
}