.button {
    background-color: peru;
    width: 180px;
    height: 60px;
    line-height: 60px;
    
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    
    display: inline-block;
    border: none;
    cursor: pointer;
    @media (max-width: 1500px) {
        width: 160px;
        height: 50px;
        line-height: 50px;
    }
}





.owl-carousel {
    .owl-dots {
        text-align: center;
        display: block;
        margin-top: 35px;

        .owl-dot {
            width: 8px;
            height: 8px;
            background-color: #8B8B8B;
            border-radius: 80%;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            display: inline-block;
            margin: 0 5px;

            &.active {
                background-color: $red;
            }
        }
    }


    .owl-nav {
        font: normal normal normal 25px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;

        .owl-prev,
        .owl-next {
            font-size: 25px;
            color: #8b8b8b;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;

            &:hover {
                color: #0667A0;
            }

            &.disabled {
                opacity: 0.5;
            }
        }

        .owl-prev:before {
            content: '\f137';
        }

        .owl-next:before {
            content: '\f138';
        }
    }
}


.form-group.button-group {
    margin-bottom: 0;
}

.ar .form-control {
    text-align: right;
}

.file {
    @extend .form-control;
    position: relative;
    padding: 0!important;

    &:after {
        content: '';
        width: 36px;
        height: 36px;
        border-radius: 6px;
        background-color: $red;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url(../images/upload.svg);
        position: absolute;
        top: 50%;
        right: 20px;
        -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
        -o-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
        pointer-events: none;
    }
        

    input[type="file"] {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        opacity: 0;
        cursor: pointer;

        &::-webkit-file-upload-button {
            cursor: pointer;
        }
    }

    span {
        @include textEnd();
        display: block;
        height: 100%;
        padding: 0 55px 0 12px;
        text-align: left;
        line-height: 40px;
    }
}

.ar .file {
    span {
        text-align: right;
        padding: 0 12px 0 55px;
    }

    &:after {
        right: auto;
        left: 20px;
        transform: translate(-50%, -50%);
    }
}