.owl-carousel-gallery {
    max-width: 100%;
    .slide {
        outline: none;

        a {
            outline: none;
        }

        img {
            display: block;
            width: 100%;
        }
    }
}