         
.header {
    @include position(absolute, 0, 0, auto, 0);
    @include transition(all, .4s);
    height: 80px;
    
    color: #FFF;
    background: rgba(0,0,0,.2);
    
    .wrapper {
        height: 100%;
        & > div:first-of-type {
            text-align: left;
        }
        & > div:last-of-type {
            text-align: right;
        }
    }
}


/* ------------------------------------ */
/*  NAV STYLES  */

.page-menu {
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;
            a {
                color: #fff;
                text-transform: uppercase;
            }
        }
    }
}


/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button {
    @include position(fixed, 15px, 10px, auto, auto);
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(black, 0.5);
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        width: 24px;
        height: 3px;
        background: #444;
        opacity: 1;
        left: 0;
        right: 0;
        margin: auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
        -webkit-transition: .15s ease-in-out;
        -moz-transition: .15s ease-in-out;
        -o-transition: .15s ease-in-out;
        transition: .15s ease-in-out;
        &:nth-child(1) {
            top: 14px;
        }
        &:nth-child(2) {
            top: 21px;
        }
        &:nth-child(3) {
            top: 28px;
        }
    }
    &.open {
        span:nth-child(1) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 14px;
            left: 8px;
        }
        span:nth-child(2) {
            width: 0%;
            opacity: 0;
        }
        span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 31px;
            left: 8px;
        }
    }
}
