.offer {
    height: 800px;
    max-height: 100%;
    @include flex($d: column, $ai: center, $j: center);
    
    background-image: url("../images/offer-main.jpg");
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    
    h1 {
        margin-bottom: 40px;
        font-size: 70px;
        color: #FFF;
        text-shadow: 0 0 2px rgba(0,0,0,.2);
    }
}

/*-------------------------------
      Slides backgrounds     
-------------------------------*/
.carousel {
    height: 520px;
    .carousel-inner {
        height: 100%;
        .item {
            height: 100%;
              background-size: cover;
              background-position: center center;
              background-repeat: no-repeat;
        }
    }
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}