.offer {
    height: 800px;
    max-height: 100%;
    @include flex($d: column, $ai: center, $j: center);
    
    background-image: url("../images/offer-main.jpg");
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    
    h1 {
        margin-bottom: 40px;
        font-size: 70px;
        color: #FFF;
        text-shadow: 0 0 2px rgba(0,0,0,.2);
    }
}

/*-------------------------------
      Slides backgrounds     
-------------------------------*/
.carousel {
    height: 520px;
    .carousel-inner {
        height: 100%;
        .item {
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            .container {
                height: 100%;
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;  
            }
        }
    }
}

.hero {
    color: #fff;
    text-align: left;
    width: 670px;
    max-width: 100%;
    h1,
    h2 {
        font-size: 45px; 
        line-height: 62px;   
        font-weight: bold;
        margin: 0;
        padding: 0;
        b {
            text-transform: uppercase;
        }
    }
    p {
        font-size: 18px;
        line-height: 27px;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .btn {
        margin-top: 30px;
    }
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}


.carousel-control {
    z-index: 10;
    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 30px;
        height: 30px;
    }
}