.offer {
    height: 225px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: #FFF;
    position: relative;
    .container {
        height: 100%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;  
        position: relative;
        z-index: 2;
    }
    h1 {
        font-size: 50px;
        text-transform: uppercase;
        color: #FFF;
        @media only screen and (max-width : 992px) {
            font-size: 45px;
        }
        @media only screen and (max-width : 767px) {
            font-size: 40px;
        }
        @media only screen and (max-width : 480px) {
            font-size: 36px;
        }
        @media only screen and (max-width : 400px) {
            font-size: 32px;
        }
    }
    p {
        font-size: 16px;
        font-family: 'Arial';
        &:last-child {
            margin-bottom: 0;
        }
        @media only screen and (max-width : 767px) {
            font-size: 14px;
        }
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #335E9B;
        opacity: .5;
    }
}


/*-------------------------------
      Slides backgrounds     
-------------------------------*/
.carousel:not(.carousel--thumbnails) {
    height: 520px;
    .carousel-inner {
        height: 100%;
        .item {
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            .container {
                height: 100%;
                display: flex;
                display: -webkit-flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;  
            }
            @media only screen and (max-width : 1000px) {
                padding: 0 40px;
            }
            @media only screen and (max-width : 767px) {
                padding: 0 20px;
            }
        }
    }
    &#bs-carousel {
        .item {
            background-position: 100% 100%;
        }
    }
}

.hero {
    color: #fff;
    text-align: left;
    width: 670px;
    max-width: 100%;
    h1,
    h2 {
        font-size: 45px; 
        line-height: 62px;   
        font-weight: 600;
        margin: 0;
        padding: 0;
        color: #FFF;
        position: relative;
        top: -20px;
        -webkit-transition: 1s all ease-in-out .1s;
           -moz-transition: 1s all ease-in-out .1s; 
            -ms-transition: 1s all ease-in-out .1s; 
             -o-transition: 1s all ease-in-out .1s; 
                transition: 1s all ease-in-out .1s; 
        b {
            font-size: 50px;
            text-transform: uppercase;
            font-weight: 600;
            @media only screen and (max-width : 1200px) {
                font-size: 45px;
            }
            @media only screen and (max-width : 992px) {

            }
            @media only screen and (max-width : 768px) {
                font-size: 36px;
            }
            @media only screen and (max-width : 480px) {
                font-size: 30px;
            }
            @media only screen and (max-width : 400px) {
                font-size: 28px;
            }
        }
        @media only screen and (max-width : 1200px) {
            font-size: 40px;
            line-height: 1.4;
        }
        @media only screen and (max-width : 992px) {

        }
        @media only screen and (max-width : 768px) {
            font-size: 32px;
        }
        @media only screen and (max-width : 480px) {
            font-size: 28px;
        }
        @media only screen and (max-width : 400px) {
            font-size: 26px;
        }
    }
    p {
        font-size: 18px;
        line-height: 27px;
        margin-top: 20px;
        margin-bottom: 0;
        top: 20px;
        position: relative;
        max-width: 90%;
        font-family: 'Arial';
        -webkit-transition: 1s all ease-in-out .1s;
           -moz-transition: 1s all ease-in-out .1s; 
            -ms-transition: 1s all ease-in-out .1s; 
             -o-transition: 1s all ease-in-out .1s; 
                transition: 1s all ease-in-out .1s; 
        @media only screen and (max-width : 768px) {
            font-size: 16px;
            line-height: 1.4;
        }
        @media only screen and (max-width : 480px) {
            font-size: 14px;
        }
    }
    .btn {
        margin-top: 34px;
        opacity: 0;
        -webkit-transition: .4s all ease-in-out 1.5s;
           -moz-transition: .4s all ease-in-out 1.5s; 
            -ms-transition: .4s all ease-in-out 1.5s; 
             -o-transition: .4s all ease-in-out 1.5s; 
                transition: .4s all ease-in-out 1.5s; 
    }
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;  
    h1,
    h2,
    p {
        top: 0;
    }
    .btn {
        opacity: 1;
    }
}


.carousel-control {
    z-index: 10;
    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 30px;
        height: 30px;
    }
}