
.advantages-list {
  margin-top: 60px;
  @media only screen and (max-width : 480px) {
    margin-top: 40px;
  }
}
.image-text-block {
  padding: 20px;
  background-color: #FFF;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-family: $r;
  font-size: 16px;
  color: #696868;
  border: 1px solid rgb(236, 234, 234);
  border-radius: 4px;
  margin: 5px auto;
  strong {
    font-size: 25px;
    font-weight: 800;
    display: block;
  }
  &__img {
    display: block;
    height: 60px;
    text-align: center;
    margin-bottom: 14px;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: bottom;
      height: 100%;
    }
    img {
      display: inline-block;
      vertical-align: bottom;
      max-width: 98%;
      max-height: 100%;
    }
  }
}



.sidebar-menu {
  margin-bottom: 20px;
  padding-left: 0;
  list-style-type: none;

  .menu-item {
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;

    a {
      position: relative;
      display: block;
      padding: 12px 15px 12px;
      font-family: $r;
      font-weight: 500;
      font-size: 17px;
      background-color: #f2f2f2;
      color: #555;

      &:hover {
        text-decoration: none;
        color: #555;
        background-color: #FCFCFC;
      }
    }

    &.current-menu-item {
      a {
        z-index: 2;
        color: #fff;
        background-color: #225090;
        border-color: #225090;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      padding-bottom: 10px;
    }
    ul .menu-item {
      border-bottom: 0;
      
      a {
        border: none;
        font-size: 14px;
        color: #DE363C;
        padding: 5px 15px 7px 30px;
        position: relative;

        &:before {
          content: ">";
          display: inline-block;
          vertical-align: middle;
          position: absolute;
          left: 15px;
          top: 4px;
          color: #555;
        }
      }

      &.current-menu-item {
        a:before {
          color: #fff;
        }
      }
    }
  }


}