
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}

body {
    font-family: $n;
    font-size: 14px;
    color: $text;
}

h1,
h2,
h3 {
  font-family: $r;
}

// lAYOUT
// ---------------------------
