// COLORS
// ---------------------------

$text: #555;
$red: #fb000e;

// FONTS
// ---------------------------
$r:                         'Raleway';
$n:                         'nunitoregular';


// RESPONSIVE
// ---------------------------
