// COLORS
// ---------------------------
$text: #555;

// FONTS
// ---------------------------
$r:                         'ralewaysemibold';
$n:                         'nunitoregular';


// RESPONSIVE
// ---------------------------
