// COLORS
// ---------------------------

$text: #555;
$red: #fb000e;
$blue: #0667a0;

// FONTS
// ---------------------------
$r:                         'Raleway';
$n:                         'nunitoregular';


// RESPONSIVE
// ---------------------------
